
.parallax { 
  /* The image used */
  background-image: url("../images/background4.jpeg");

  /* Set a specific height */
  height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }


#intro-image{
    background-image: url("../assets/images/background4.jpg");
    background-position:center;
    opacity: 0.94;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(229, 243, 190);
    min-height: 100%;
    z-index: 20;

} 

#about-me{
    background-image: url("../assets/images/background5.jpeg");
    background-position:center;
    /* opacity: 0.94; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(238, 228, 228);
    min-height: 115%;
    z-index: 20; */
}
